body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0;
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 10px 30px;
}

section {
    padding: 20px;
    text-align: center;
}

.icon{
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction:row;
}

.centrado{
    align-items: center;
}

ul li a:hover {
    color: #ccc;
}