header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

pre{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size:x-large;
    padding: 20px;
}

main{
    display: flex;
    background-color: #777;
}

.controller{
    display: flex;
    justify-content: center;
}