li a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding: 8px;
    width: max-content;
}
li{
    list-style-type: none;
    width: max-content;
    text-align: center;
    background-color: greenyellow;
    flex-basis: 100%;
    border: 1px solid black;
    margin: 1px;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    gap: 2px;
    flex-direction: row;
    width: max-content;
}
