header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

li{
    display: inline-block;
    position: relative;
    padding: 15px;
}

.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: 220px;;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.titulo{
    font-size: 24px;
    padding: 10px 10px 0 10px;;
    text-align: center;
}
.cuerpo{
    padding: 10px;
}
.pie{
background: #6699ff;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;

}
.pie a{
    text-decoration: none;
    color: white;
}
.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}
.pie:hover{
    background-color:dodgerblue
}

p{
    padding: 10px;
}

img{
    width: 200px;
}

.tarjeta:hover img{
    transform: scale(1.1);
}

cards{
    container:  flex;
    position:  relative;
    float:     right;
}